mixin checkbox(id, dataname, title, description)
    .mr-check
        .mr-text
            .mr-text-title
                spam #{title}
            .mr-text-description
                spam #{description}
        .switch
            input(type="checkbox" data-internal-name=dataname value="false" data-send-on-save="false" id=id class="cmn-toggle cmn-toggle-round")
            label(for=id)

mixin separador(width, height)
    .separador(style=`width: ${width}; height: ${height};`)

.app-configuration
    #option-left-sidebar
        .option-contents.selected-item
            spam Geral
        .option-contents
            spam Traduções
    +separador('1px', '100%')
    #option-right-sidebar
        +checkbox('mr-check-1', 'AnimationRun', 'Desativar animações', 'Animações afeta o desempenho do aplicativo, recomanda-se desativa-las se seu desempenho estiver comprometido.')
        +separador('100%', '1px')
        +checkbox('mr-check-2', 'AnimationRun', 'Desativar animações', 'Animações afeta o desempenho do aplicativo, recomanda-se desativa-las se seu desempenho estiver comprometido.')
        