mixin checkbox(id, dataname, title, description)
    .mr-check
        .mr-text
            .mr-text-title
                spam #{title}
            .mr-text-description
                spam #{description}
        .switch
            div(data-internal-name=dataname data-check="false" id=id class="cmn-toggle cmn-toggle-round")
            label(for=id)

mixin separador(width, height)
    .separador(style=`width: ${width}; height: ${height};`)

.app-configuration
    #option-left-sidebar
        div(type="geral").option-contents.selected-item
            spam Geral
        div(type="temas").option-contents
            spam Temas
    +separador('1px', '100%')
    #option-right-sidebar
        div(style="display: block;")#general-box
            +checkbox('mr-check-1', 'AnimationRun', 'Desativar animações', 'Animações afeta o desempenho do aplicativo, recomanda-se desativa-las se seu desempenho estiver comprometido.')
        div(style="display: none;")#theme-box
            each theme in themes
                div.contain-theme
                    div.lost-tab-top
                        div.contain-tab
                            spam.tab-title #{theme.name}
                            div.lost-more-info
                                spam.more-title-info Autor:
                                spam.more-info #{theme.author}
                                spam.more-title-info Versão:
                                spam.more-info #{theme.version}
                        .switch
                            div(data-theme-name=theme.name data-author-name=theme.author data-check="false" id=theme.author+'-'+theme.name class="cmn-toggle cmn-toggle-round")
                            label(for=id)
                    div.lost-tab-bottom
                        spam.tab-description #{theme.description}
